<div class="container-fluid">
  <div id="animateburger">
    <audio>
      <source src="audio/chewburp.wav"></source>
    
  </audio>
  </div>
  <div class="row">
    <div class = "col-md-12">
     <h1 class="text-center">Pile of Burgers!</h1>
    </div>
  </div>
  <div class="row"> 
    <div class="col-md-4 ">
      <div class = "banner">
        <h2 class="text-center" >Burger Menu</h2>
      </div>
         <div class = "col-md-10">
         </div>
          <div class = "row well" id = "menu">
            <ul style="list-style: none;">
              {{#each burgers}}
                {{#unless this.devoured}}
                  <li id = "m">
                    <div class="col-md-9">
                       {{this.burger_name}}
                    </div>
                    <div class="col-md-2">
   
                      <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="true">
                        <button class = "animatego" type="submit">Devour!</button>
                      </form>
                    </div>
                  </li>
                {{/unless}}
              {{/each}}
            </ul>
          </div>
        {{!-- </div> --}}
    </div>
    <div class="col-md-4"  class="text-center">
      <div id = "burger">
        <img src="images/burger.png" alt="burger" >
      </div>
      <div class = "col-md-12">
        <h3 class="text-center">Add a burger</h3>
        <form class="create-update-form" action="/" method="POST">
          <div class="form-group" id = "burgerinp">
            <label for="ca">Burger Name:</label>
            <input type="text" id="ca" name="burger_name">
          </div>
          <button type="submit" id = "burgerinp">Add Burger</button>
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <h2 class="text-center">Devoured Burgers.  YUMM!</h2>
      <div class = "col-md-10">
      </div>
      <div class = "row well" id = "devour">
        <ul  style="list-style: none;">
          {{#each burgers}}
            {{#if this.devoured}}
              <li class = "strike-through">
                {{this.burger_name}}
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
      <div class = "row" id = "reset">
        <form action="/all?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">Reset Menu</button>
        </form>
      </div>
    </div>
  </div>
</div>

